body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

span {
	cursor: pointer;
}

i {
	cursor: pointer;
}

#btn {
	color: #fff;
}

.navbar {
	background-color: #000;
}

.navbar-brand {
	font-size: 5rem;
	color: #fff;
}

.navbar .container {
	max-width: 1580px;
}


.main {
	background: url('office.jpg') no-repeat center;
	background-size: cover;
	background-color: rgba(255,255,255,0.1);
	height: 100%;
}

.col {
	margin: 5px 10px;
	height: 90%;
	overflow-y: scroll;
}

.col-4 {
	margin: 20px 0;
}

.col-3 {
	margin: 20px 0;
	border-radius: 10px;
	padding: 20px;
	height: 43%;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 0 15px 6px -6px #000;
       -moz-box-shadow: 0 15px 6px -6px #000;
            box-shadow: 0 20px 50px -4px #000;
}

.col-3 h4 {
	padding-bottom: 10px;
	border-bottom: 3px solid black;
}


.first-row {
	height: 100%;
}

.second-row {
	height: 100%;
}

#card {
	height: 400px;
	-webkit-box-shadow: 0 15px 6px -6px #000;
       -moz-box-shadow: 0 15px 6px -6px #000;
            box-shadow: 0 15px 25px -4px #000;
}

.main .container {
	max-width: 1580px;
	height: 100%;
}

.card-header h4 {
	font-size: 1.3rem;
	margin: 0;
}

.card-header {
	text-align: center;
	border-color: black;
	padding: 0;
}

.card-title {
	text-align: center;
}

.card-body {
	overflow-y: scroll;
}

.card-body h5 {
	border-bottom: 2px solid black;
	padding-bottom: 8px;
}

.card-footer {
}

#postit-color {
	background-color: rgb(249, 244, 102);
}

.far {
	font-size: 1.7rem;
}

.fa-check-circle {
	padding: 2px 15px;
}

.fa-times-circle {

}

.fa-trash-alt {
	padding:2px 15px;
}

.form-group input,
.form-group textarea {
	border-color: black;
}

.done h5,
.done p {
	color: #726f6f;
}


#disabled .card-header,
#disabled .card-body {
	color: white;
	background: gray;
}